.container {
  display: flex;
  place-items: center;
  width: 1052px;
  height: 105px;
  margin: 915px;
  list-style-type: none;
  margin-top: 75px;
  padding-left: 5px;
  margin-bottom: 140px;
  justify-content: start;
  margin-right: 850px;
}

.main {
  font-family: Raleway;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 1;
  align-self: center;
  margin-left: -870px;
  margin-top: 38px;
  list-style-type: none;
}

.ul_header {
  display: flex;
  list-style-type: circle;
}

.menu-ite {
  font-family: Raleway;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  margin-top: 38px;
  margin-left: 33px;
}

.main-li {
  color: black;
}

.see-lots-main {
  text-decoration: underline;
  text-underline-offset: -5px;
}

.about-auction-main {
  font-family: Raleway;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 38px;
  margin-left: 32px;
  text-decoration: underline;
  text-underline-offset: -3px;
}

.logo-black {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: -222px;
  margin-top: 11.67px;
}

.contacts-main-li {
  font-family: Raleway;
  font-style: normal;
  color: black;
  white-space: pre-wrap;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.7;
  letter-spacing: 0.01em;
  grid-column-start: 6;
  grid-column-end: 6;
  margin-top: 55px;
  margin-left: -85px;
}

.contact-address-main {
  margin-top: px;
}

.contacts_main {
  color: black;
}
.block_text {
  font-family: Raleway;
  background-image: url("/images/cover.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 757px;
  width: 1100px;
  /* margin-right: -850px;*/
  margin-top: -27px;
  margin-right: auto;
}

.first_word {
  
  letter-spacing: 0.31em;
}

.word0 {
  letter-spacing: 0.27em;
}

.t {
  letter-spacing: 0.3em;
}

.word2 {
  letter-spacing: 0.3em;
}

.word3 {
  letter-spacing: 0.36em;
}

.word5 {
  letter-spacing: 0.6em;
}

.word6 {
  letter-spacing: 0.3em;
}

.word7 {
  letter-spacing: 0.3em;
}
.header1 {
  letter-spacing: 25px;
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  font-weight: bold;
  z-index: 1;
  padding-top: 165px;
  padding-left: 50px;
}

.header2 {
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  letter-spacing: 20px;
  font-weight: bold;
  z-index: 1;
  margin-top: 10px;
  margin-left: 335px;
}

.header3 {
  text-transform: uppercase;
  color: white;
  font-size: 100px;
  letter-spacing: 20px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 238px;
  margin-right: 50px;
  margin-left: 633px;
}

.cover_footer {
  display: flex;
  font-family: Raleway;
  white-space: pre-wrap;
  text-transform: uppercase;
  color: white;
  justify-content: space-between;
  align-items: center;
  word-spacing: 17.9px;
  z-index: 1;
  margin-top: -100px;
  margin-left: 78px;
  font-size: 22px;
  line-height: 28px;
  font-weight: 10px;
  letter-spacing: 0.005em;
  margin-right: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
  z-index: 200;
  text-align: center;
  font-size: 22px;
  line-height: 25.83px;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  margin-left: 795px;
  margin-top: -40px;
  text-decoration: none;
}

.center_lots {
  font-family: Raleway;
  text-transform: uppercase;
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  margin-top: 179px;
  margin-left: 63px;
  margin-right: auto;
}

.card_section_ul {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  padding-left: 890px;
  width: 1052px;
  height: 692px;
  gap: 25px;
  padding-top: 24px;
  grid-template-columns: repeat(3/1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "card1, card2, card3";
  margin-right: auto;
}

.card_flex_centr {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-template-rows: repeat(1, 563px);
  gap: 26px;
  margin-top: 2px;
  margin-left: -865px;
  align-self: start;
}

.li_card1 {
  background-image: url("/images/card-lot-01.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.li_card2 {
  background-image: url("/images/card-lot-02.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.li_card3 {
  background-image: url("/images/card-lot-03.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card1 {
  display: flexbox;
}

.li_card1_header {
  font-family: Raleway;
  margin-top: 50px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  width: 254px;
  height: 82px;
  margin-left: 38px;
}

.li_card1_header2 {
  font-family: Raleway;
  margin-top: 50px;
  white-space: pre;
  text-align: left;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  width: 254px;
  height: 82px;
  position: relative;
  margin-left: 38px;
}

.paragraph1 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
  padding-top: 217px;
  white-space: pre-wrap;
  padding-left: 1px;
  margin-right: auto;
}

.paragraph2 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-top: 0px;
  white-space: pre-wrap;
  padding-left: -1px;
  padding-top: 0px;
  margin-right: auto;
}

.paragraph3 {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
  margin-top: 96px;
  margin-left: -1px;
  white-space: pre-wrap;
  margin-right: auto;
}

.see {
  font-family: Raleway;
  position: absolute;
  margin-top: -71px;
  margin-left: 64px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
}

.background_circle {
  margin-top: 132px;
  margin-left: 71px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo_white {
  width: 148px;
  height: 114px;
  margin-top: 65px;
  margin-left: 48px;
}

.main_header {
  font-family: Raleway;
  margin-left: 383px;
  margin-top: -137px;
  white-space: pre-wrap;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
}

.main_paragraph1 {
  font-family: Raleway;
  margin-top: 73px;
  margin-left: 345px;
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.main_paragraph2 {
  font-family: Raleway;
  margin-top: -25px;
  margin-left: 345px;
  white-space: pre-wrap;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer_section {
  display: flex;
  margin-left: -34px;
  justify-content: start;
  width: 1300px;
  height: 98px;
  margin-top: 130px;
}

.contacts_footer {
  font-family: Raleway;
  font-style: normal;
  color: black;
  white-space: pre-wrap;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-top: 9px;
  margin-left: 30px;
}

.address_link {
  text-decoration: none;
}

.contact-address {
  margin-left: 38px;
  margin-top: -25px;
  padding-top: 13px;
  padding-left: 6px;
}

.ul_footer {
  list-style-type: none;
  margin-top: 26px;
  margin-left: 217px;
  text-align: center;
}

.social_site_ul {
  display: flex;
  list-style-type: none;
  gap: 48px;
  flex-direction: row;
  justify-content: end;
  padding-left: 187px;
  margin-top: 26px;
}

.main-footer {
  font-family: Raleway;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-left: -2px;
  margin-top: 1px;
}

.see-lots-lu {
  color: black;
}

.about-auction-lu {
  color: black;
}

.social {
  width: 48px;
  height: 48px;
}
