.header {
  display: flex;
  align-items: center;
  max-width: 1052px;
  margin-top: 92px;
  margin-bottom: 96px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  letter-spacing: 0.01em;
  text-align: left;
  background-color: rgba(255, 255, 255, 1);
}

.header__menue {
  display: flex;
  align-items: center;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  margin-top: 5px;
  padding-left: 24px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  height: 105px;
  width: 148px;
  margin-top: 0.2px;
  margin-left: 36px;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border-bottom: 1% solid #000000;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.header__link_active {
  border: none;
  text-decoration: none;
  }
  

.address {
  display: flex;
  justify-content: stretch;
  align-items: start;
  max-width: 234px;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-underline-position: under;
  font-style: normal;
  text-align: left;
}

.header__address {
  margin-top: 4px;
  margin-left: 185px;
}

.address__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 1) inset;
}

.cover {
  position: relative;
  z-index: 2;
  background-image: url(../images/cover.jpg);
  max-width: 1100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.cover__title {
  position: relative;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  padding-top: 13px;
  padding-left: 285px;
}

.aligned-text_right {
  display: block;
  padding-top: 5px;
  padding-left: 583px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  margin-top: 127px;
  margin-left: 78px;
  padding-bottom: 51px;
}

.cover__description-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  word-spacing: 18.5px;
  margin-top: 11px;
  z-index: 3;
}

.bet-button {
  display: flex;
  background-color: transparent;
  margin-left: 79px;
  width: 256px;
  height: 51px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  z-index: 3;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
}

.lots {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  padding-right: 24px;
  padding-left: 24px;
}

.lots__heading {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
  padding-left: 40px;
}

.card-link {
  display: block;
  width: inherit;
  height: 100%;
  text-decoration: none;
}

.lots__card-list {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 26px;
}

.lots__card-list-item {
  flex-grow: 1;
  min-height: 563px;
  max-width: 334px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-top: 51px;
  padding-right: 40px;
  padding-bottom: 46px;
  padding-left: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  color: rgba(255, 255, 255, 1);
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: block;
  max-width: 192px;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  text-align: left;
  text-underline-position: under;
  text-decoration: none;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
}

.about {
  display: flex;
  flex-direction: row;
  padding-top: 181px;
  padding-right: 24px;
  padding-bottom: 97px;
  padding-left: 71px;
  gap: 25px;
}

.about__column {
  display: flex;
  justify-content: center;
  max-width: 334px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin-top: 10px;
}

.about__column__second {
  display: flex;
  flex-direction: column;
  padding-left: 46px;
}

.about__title {
  padding-top: 102px;
  padding-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 46.96px;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  gap: 24px;
  padding-right: 14px;
  padding-left: 1px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  padding-left: 3px;
  background-color: rgba(0, 0, 0, 1);
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 52px;
  padding-top: 84px;
  padding-bottom: 88px;
  background-color: rgba(255, 255, 255, 1);
}


.footer__menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
  text-underline-position: under;
  padding-left: 2px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}